*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}
body{
    background: linear-gradient(135deg, orange 60%, cyan);
}

.title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: aquamarine;
}

.form{
    max-width: 80%;
    text-align: center;
    margin: auto;
}

input [type = 'submit'] , button , [aria-label]{
    cursor: pointer;
}
#edit-box{
    display: none;
    max-width: 80%;
    margin: auto;
}
td{
    background-color:rgb(252, 166, 6);
    padding-right: 10px;
    text-align: left;
}
.to-do {
    background: transparent !important;
}